* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(255, 255, 255);
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1500375592092-40eb2168fd21?auto=format&fit=crop&w=1600&q=80");

  height: 80vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transform: translateX(-25px);
  transform: translateY(50px);
}

.hero-content h1 {
  font-size: 3.5rem;
}

.btn {
  font-size: medium;
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: blue;
  color: white;
  border-radius: 8px;
  transition: 0.2s;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.video iframe {
  border-radius: inherit;
  border: none;
}

.card {
  background-color: aliceblue;
  padding: 2rem;
  margin: 30px;
  border-radius: 5%;
}

.gridA {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.gridB {
  display: flex;
  padding: 1rem;
  margin: 20px;
}

.parentA {
  display: flex;
  justify-content: center;
}

.headerA {
  text-align: center;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  background-color: rgb(225, 200, 255);
  padding: 2rem;
  margin: 40px;
  border-style: double;
  border-width: 10px;
  border-color: rgba(140, 124, 241, 0.5);
  border-radius: 15%;
}
