* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: rgb(255, 255, 255);
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1500375592092-40eb2168fd21?auto=format&fit=crop&w=1600&q=80");

  height: 80vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Flexbox to center content */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transform: translateX(-25px);
  transform: translateY(50px);
}

.hero-content h1 {
  font-size: 3.5rem;
}
.btn {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: blue;
  color: white;
  border-radius: 8px;
  transition: 0.2s;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.video iframe {
  border-radius: inherit; 
  border: none;
}